{% extends 'base.html' %}

{% block inside_row %}
    {% if books %}
        <p>目前现有的书籍</p>
        {% for book in books %}
            <ul>
                <li> {{ book.title }} </li>
            </ul>
        {% endfor %}
    {% else %}
        <p> 暂时没有书籍,请先添加书籍</p>
    {% endif %}

    {% if current_user.is_authenticated %}
		<form class="form" action="{{ url_for('book.show_book') }}" method="post">
			<input id="title" name="title" placeholder="add book" type="text">
            <button type="submit">Submit</button>
		</form>
    {% else %}
		<div class="alert alert-info">添加书籍前请先登录</div>
		<a href="{{ url_for('user.signin', next=request.url) }}" class="btn btn-info">登录</a>
    {% endif %}
{% endblock %}
